* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

#perfil-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil-box {
    height: 75%;
    width: 30%;
    background-color: #001542;
    border-radius: 30px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid #FFB30D 5px;
}

.perfil-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.perfil-label {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 5px;
    border-bottom: solid #FFB30D 5px;
}

.perfil-input {
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

.perfil-input:focus {
    outline: none;
}

#perfil-button {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #FFB30D;
    border: none;
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
}

#perfil-button:hover {
    cursor: pointer;
    margin-left: 5px;
}

#perfil-span {
    color: #FFFFFF;
    font-weight: 700;
}

#perfil-span {
    cursor: pointer;
}